google-api-python-client
google-auth-oauthlib
google-auth-httplib2
openai
google-generativeai
groq
elevenlabs
gTTS
moviepy==1.0.3
requests
cloudinary
Pillow==9.5.0
numpy<2.0.0
pandas
schedule
tqdm
colorama
beautifulsoup4
wikipedia-api
imageio==2.4.1
imageio-ffmpeg==0.4.2
decorator==4.4.2