requests
moviepy==2.3.0
pydub
google-api-python-client
google-auth-oauthlib
google-auth
Pillow
python-dotenv
replicate
transformers
torch
opencv-python-headless
tqdm
openai
gTTS==2.5.4
imageio
imageio-ffmpeg
wikipedia
beautifulsoup4
