name: Daily Upload

on:
  schedule:
    - cron: "0 7 * * *"
  workflow_dispatch: {}

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install FFmpeg
        uses: FedericoCarboni/setup-ffmpeg@v2

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          python -m pip install moviepy --force-reinstall
          python -m pip install imageio imageio-ffmpeg

      - name: Fix Python Path
        run: echo "PYTHONPATH=$(pwd)" >> $GITHUB_ENV

      - name: Run FULL AUTOMATION
        env:
          GROQ_API_KEY: ${{ secrets.GROQ_API_KEY }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          CLOUDINARY_API_KEY: ${{ secrets.CLOUDINARY_API_KEY }}
          COVERR_API_KEY: ${{ secrets.COVERR_API_KEY }}
          ELEVEN_API_KEY: ${{ secrets.ELEVEN_API_KEY }}
          HF_API_TOKEN: ${{ secrets.HF_API_TOKEN }}
          PEXELS_API_KEY: ${{ secrets.PEXELS_API_KEY }}
          PIXABAY_API_KEY: ${{ secrets.PIXABAY_API_KEY }}
          REPLICATE_API_TOKEN: ${{ secrets.REPLICATE_API_TOKEN }}
          STORYBLOCKS_API_KEY: ${{ secrets.STORYBLOCKS_API_KEY }}
          VECTEEZY_API_KEY: ${{ secrets.VECTEEZY_API_KEY }}
          YT_CHANNEL_ID: ${{ secrets.YT_CHANNEL_ID }}
          YT_CLIENT_ID: ${{ secrets.YT_CLIENT_ID }}
          YT_CLIENT_SECRET: ${{ secrets.YT_CLIENT_SECRET }}
          YT_REFRESH_TOKEN: ${{ secrets.YT_REFRESH_TOKEN }}
          TEST_RUN: "false"
        run: python3 scripts/main.py
