name: Daily Upload

on:
  workflow_dispatch:
  schedule:
    - cron: "0 7 * * *"

jobs:
  job:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - uses: FedericoCarboni/setup-ffmpeg@v2

      - name: Install deps
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Fix PYTHONPATH
        run: echo "PYTHONPATH=$(pwd)" >> $GITHUB_ENV

      - name: Run automation
        env:
          (السيكرت…)
        run: python3 scripts/main.py
