      - name: Fix Python Path
        run: |
          echo "PYTHONPATH=$PWD" >> $GITHUB_ENV

      - name: Run FULL AUTOMATION
        env:
          PYTHONPATH: ${{ env.PYTHONPATH }}
          GROQ_API_KEY: ${{ secrets.GROQ_API_KEY }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          CLOUDINARY_API_KEY: ${{ secrets.CLOUDINARY_API_KEY }}
          COVERR_API_KEY: ${{ secrets.COVERR_API_KEY }}
          ELEVEN_API_KEY: ${{ secrets.ELEVEN_API_KEY }}
          HF_API_TOKEN: ${{ secrets.HF_API_TOKEN }}
          PEXELS_API_KEY: ${{ secrets.PEXELS_API_KEY }}
          PIXABAY_API_KEY: ${{ secrets.PIXABAY_API_KEY }}
          REPLICATE_API_TOKEN: ${{ secrets.REPLICATE_API_TOKEN }}
          STORYBLOCKS_API_KEY: ${{ secrets.STORYBLOCKS_API_KEY }}
          VECTEEZY_API_KEY: ${{ secrets.VECTEEZY_API_KEY }}
          YT_CHANNEL_ID: ${{ secrets.YT_CHANNEL_ID }}
          YT_CLIENT_ID: ${{ secrets.YT_CLIENT_ID }}
          YT_CLIENT_SECRET: ${{ secrets.YT_CLIENT_SECRET }}
          YT_REFRESH_TOKEN: ${{ secrets.YT_REFRESH_TOKEN }}
        run: |
          echo "PYTHONPATH is: $PYTHONPATH"
          python3 scripts/main.py
